<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)/?$ $1.php [NC,L]
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule .*https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^login?$ index.php
RewriteRule ^404?$ 404.php
RewriteRule ^dashboard?$ dashboard.php
RewriteRule ^users$ users.php
RewriteRule ^logout$ logout.php

ErrorDocument 404 /404.php
</IfModule>
